.certificateSetItemWrapper{
    max-width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    transition: transform 0.5s;
    flex-basis: 23%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
  
  
.certificateSetItemWrapper:hover{
    transform: scale(1.05);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
  
.image{
    width:100%;
    border-radius: 10px 10px 0 0;
}
  
.image img{
    width:100%;
    object-fit: cover;
    border-radius: 0px 10px 10px 0px;
    height: 100%;
}
  
  
.content{
    padding:10px 10px 10px 20px;
    min-width: 60%;
}
  
.title{
    margin-bottom: 6px;
    font-family: var(--titleFont);
}
  
.date{
    color:var(--accentTheme);
    margin-bottom: 6px;
}
  
.category{
    width:100%;
    margin-bottom: 0px;
}
  
.description{
    margin-bottom: 6px;
    font-family: var(--descriptionFont);
}
  
.duration{
    color:var(--accentTheme);
}
  
.durationGold{
    color:var(--mainTheme);
}


/* iPad Devices */
@media only screen and (max-width: 1200px) {
    .certificateSetItemWrapper{
        flex-basis: 30%;
    }
}

@media only screen and (max-width: 900px) {
    .duration{
        display: none;
    }
    .durationGold{
        display: none;
    }
    .category{
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .certificateSetItemWrapper{
        flex-basis: 45%;
    }
}

@media only screen and (max-width: 400px) {
    .certificateSetItemWrapper{
        flex-basis: 100%;
    }
    .duration{
        display: block;
    }
    .durationGold{
        display: block;
    }
    .category{
        display: block;
    }
    .title h5{
        font-size: 16px;
    }
}
