*{
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  word-break: break-word;
}

:root{
  /* Background Color Theme - white, ochre-FFFBDD, black-202124 */
  --backgroundColorTheme: white;
  /* Color Theme - (white, ochre)black, (black)white*/
  --colorTheme: black;
  /* Only one main theme*/
  --mainTheme: #ee9b00;
  /* (white, ochre)dark grey - #6c757d, (black) - light grey- #bfc0c0*/
  --accentTheme: #6c757d;
  /* (white)whitish - #e9ecef, (ochre)ochrish - #ffe6a7, (black)greyish - #6c757d */
  --overlayTheme:#e9ecef;
  /* (white)whitish - #F5F5F5, (ochre)ochrish - #FFE7AD, (black)greyish - #3A3B41 */
  --timelineTheme:#F5F5F5;
  --textAlign: left;
  --titleFont: 'Alegreya', serif;
  --descriptionFont: 'Source Sans Pro', sans-serif;
  --verylargeWidth: 1200px;
  --largeWidth:1000px;
  --mediumWidth:800px;
  --smallWidth:700px;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #ffb703;
}

::selection {
  color: white;
  background: #ffb703;
}

body {
  margin: 0;
  background-color: var(--backgroundColorTheme);
  color:var(--colorTheme);
  text-align: var(--textAlign);
  font-family: var(--descriptionFont);
}

li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul{
  padding:0;
  margin:0;
}

a{
  color:var(--colorTheme);
  text-decoration: none;
}

a:-webkit-any(){
  color:var(--colorTheme);
  text-decoration: none;
}

h1{
  margin:0;
  padding:0;
  font-size:42px;
  font-weight: normal;
}

h2{
  margin:0;
  padding:0;
  font-size:36px;
  font-weight: normal;
}

h3{
  margin:0;
  padding:0;
  font-size:24px;
  font-weight: normal;
}

h4{
  margin:0;
  padding: 0;
  font-size:21px;
  font-weight: normal;
}

h5{
  margin: 0;
  padding:0;
  font-size:18px;
  font-weight: normal;
}

h6{
  margin: 0;
  padding:0;
  font-size:16px;
  font-weight: normal;
}

button{
  border:0;
}

p{
  /* margin:32px 0; */
  font-size:19px;
  padding: 0;
  margin: 0;
}

.title{
  font-family: var(--titleFont);
}

strong{
  font-weight: 600;
}

.spin-wrapper .uil-spin-css > div > div{
  background: var(--mainTheme) !important;
}

.hideOverflow{
  overflow: hidden;
}

/* iPad Devices */
@media only screen and (max-width: 1000px) {
  .homepage{
    width: var(--smallWidth);
  }
  .articlepage{
    width: var(--smallWidth);
  }
  /* Font smaller */
  h1{
    font-size:36px;
  }
  h2{
    font-size:24px;
  }
  h3{
    font-size: 21px;
  }
  h4{
    font-size: 18px;
  }
  h5{
    font-size: 16px;
  }
  h6{
    font-size: 14px;
  }
  p{
    font-size: 18px;
  }
}


/* Medium Phones > 400 && < 600 */
@media only screen and (max-width: 600px) {
  /* Font smaller */
  h1{
    font-size:32px;
  }
  h2{
    font-size:21px;
  }
  h3{
    font-size: 18px;
  }
  h4{
    font-size: 16px;
  }
  h5{
    font-size: 14px;
  }
  h6{
    font-size: 14px;
  }
  p{
    font-size: 16px;
  }
}

/* Large Monitor > 1500 */
/* Large Devices > 1200 && < 1500 */
/* iPad Devices > 1000 && <1200*/
/* Very Large Phones > 800 && < 1000 */
/* Decent Large Phones > 700 && <800 */
/* Large Phones > 600 && < 800 */
/* Medium Phones > 500 && < 600 */
/* Semi Medium Phones > 400 && < 500 */
/* Small Phones >300 && <400 */