.popup{
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top:24px;
  padding:0px 18px;
  width: 180px;
  border-radius:10px;
  top:92%;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 35%);
  color:var(--colorTheme);
  background-color: var(--backgroundColorTheme);
  text-align: left;
  transform: translate(-60%, 0);
  z-index: 3;
  max-height: 0;
  transition: max-height 0.2s linear, padding 0.05s linear 0.2s;
  overflow: hidden;
}

.showPopup{
  max-height: 500px;
  padding:18px;
  transition: max-height 0.2s linear 0.05s, padding 0.05s linear;
  z-index: 4;
}

.popupItem{
  margin-bottom: 12px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.activeMenuItem{
  text-decoration: underline;
}

.popupItem span{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.popupItem:last-child{
  margin-bottom:0;
}

.categoryItem{
  cursor: pointer;
}

.categoryList{
  margin-top:4px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s linear;
}

.showCategoryList{
  transition: max-height 0.2s linear;
  max-height: 200px;
}

.popupItemCategory{
  margin-left:18px;
  margin-top:4px;
}
